.header {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 58px;
  z-index: 1;
}

@media (max-width: 650px) {
  .header {
    font-size: 48px;
  }
}

@media (max-width: 500px) {
  .header {
    font-size: 38px;
  }
}